@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.bg-silver{
  background: rgb(241, 241, 241);
}

.bg-green{
  background: rgb(2, 144, 94);
}

.bg-red{
  background: red;
}

.text-red{
  color: red;
}


/* HOME SECTION */
.homeHeroSection{
  background: url("/assets/herobg1.webp");
  background-size: cover;
}

.menuIconsContainer{
  background: rgba(0, 0, 0, 0.7);
}

.homeAccountCard{
  background: url("/assets/c4.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.homeAccountCard1{
  background: url("/assets/c5.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.homeAccountCard2{
  background: url("/assets/c6.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.homeAccountCard h1, .homeAccountCard small{
  position: inherit;
  z-index: 82;
}

.homeAccountCard1 h1, .homeAccountCard1 small{
  position: inherit;
  z-index: 82;
}

.homeAccountCard2 h1, .homeAccountCard2 small{
  position: inherit;
  z-index: 82;
}

.acOverlay{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(2px); */
}

.vipCard{
  background: url("/assets/c2.webp");
  /* background-size: cover; */
  background-position: center;
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.vipCard h1, .vipCard small, .vipCard .vipBadge{
  position: inherit;
  z-index: 82;
}
.vipCard .vipBadge{
  position: absolute;
  top: 10px;
  right: 10px;
}

.vipCard:nth-child(2){
  background: url("/assets/c5.jpg");
}

.bottomFlyerContainer{
  background: url("/assets/herobg.webp");
  background-size: cover;
  background-position: center;
}



/* FOOTER SECTION */
.footer{
  position: fixed;
  bottom: 0;
  background: white;
  padding: 10px 0px;
  z-index: 98439378;
}

/* DEPOSIT SECTION */

.depositionHeroSection{
  background: url("/assets/herobg1.webp");
}


/* WITHDRAWAL SECTION */
.withdrawalHeroSection{
  background: url("/assets/w1.jpg");
  position: relative;
}

.withdrawalHeroSection > div{
  position: absolute;
  bottom: 10px;
  left: 50px;
}

.ccareHero{
  background: url("/assets/hero3.jpg");
  min-height: 50vh;
  background-size: cover;
  position: relative;
}

.ccareHero > div{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.bg-overlay-black{
  background: rgba(0, 0, 0, 0.3);
}

.checkinSection{
  background: url("/assets/herobg.webp");
  background-size: cover;
}

.productHero{
  background: url("/assets/c5.jpg");
  background-size: cover;
  min-height: 50vh;
  position: relative;
}

.productHero > div{
  position: absolute;
  bottom: 20px;
  right: 20px;
  /* transform: translateX(-50%); */
}

.teamHero{
  background: url("/assets/c6.jpg");
  background-size: cover;
  min-height: 50vh;
  position: relative;
}

.teamHero div{
  position: inherit;
  z-index: 4938;
  color: white;
  padding: 20px;
}

.teamHeroOverlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.492);
}
